.player{
    width: 100%;

    video{
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
   }

   &_sizer{
    position: relative;
    width: 100%;
    padding-top: 56.25;
    outline:1px solid red;
  }
}