<template>
 <v-app>
   <v-main>
    <div class="d-flex align-center mx-auto " :style="{width:'60%', height:'100%'}">
      <!--<Video/>-->
      <!--<Slider :value="0.75"/>-->
      <Player :sources="src"/>
    </div>
   </v-main>
 </v-app>
</template>

<script>

//import Video from './components/Video.vue';
//import Slider from './components/Slider.vue';
import Player from './components/Player.vue';

export default {
  name: 'App',

  components: {
    // Video,
    // Slider
    Player
  },

  data() {
      return {
       src:[{src:"https://content.jwplatform.com/videos/q1fx20VZ-kNspJqnJ.mp4",
             type:"video/mp4"}
            ]
       
      };
  },
};
</script>
